*{
    margin: 0;
    padding: 0;
}
:root{
    font-family: "Alice", serif;
    color: #573a37;
    line-height: 150%;
}
body{
    background: url(assets/bg-image.jpg) no-repeat center top/cover;
}
main{
    padding: 24px;
}
section + section{
    margin-top: 24px;
}
#about p + p{
    margin-top: 12px;
}
#pag{
    width: 800px;
    padding: 24px;
    margin: 48px auto 28px;
    box-sizing: border-box;
    background-color: #F0E8C2;
    border-radius: 24PX;
}
h1, h2{
    color: #291b1a;
    margin-bottom: 4px;
    line-height: 150%;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 24px;
}
ul{
    padding-left: 24px;
}
footer{
    color: #f0e8c2;
    text-align: center;
    padding-bottom: 48px;
}
footer img{
    vertical-align: middle;
}